.table {
  display: flex;
  flex-flow: column;
  margin-top: 16px;
}

.header,
.meeting-list {
  display: flex;
}

.header {
  font-size: 1.2em;
  height: max-content;
  display: flex;
  flex-flow: row;
  justify-content: left;
}

.header-description,
.header-url,
.header-date {
  width: calc((100%-64px) / 3);
}

.meeting-list {
  flex-flow: column;
}

.import-export {
  margin-top: 16px;
}

.import-export textarea {
  width: 40vw;
  height: 20vh;
  overflow: auto;
}
