.video {
  display: flex;
  margin-left: 8px;
}

.video div,
.row {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  column-gap: 4px;
  overflow: auto;
}

.video div input,
.row div {
  width: 20vw;
  justify-content: left;
}
